:root{
    /* took palette from image on coolors.com ! */
/* CSS HSL */
--dark-coffee: hsla(26, 74%, 11%, 1);
--light-yellow: hsla(57, 82%, 91%, 1);
--soft-peach: hsla(42, 79%, 81%, 1);
--coffee-bean: hsla(33, 52%, 9%, 1);
--dark-coffee-2: hsla(29, 74%, 12%, 1);

}
html {
    font-size: 62.5%;
}

body {
    background: url(../img/sunrise.avif);
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(50px);
}

.container {
    display:flex;
    justify-content: center;
    width: 100%;
    height: 100rem;
    
        div {
        background: var(--soft-peach);
        height: 5rem;
        max-width: 30rem;
        font-size: 3rem;
        border-radius: 2rem;

    }

}

h1{
    color: var(--coffee-bean);
    text-align: center;
}